In [22]:
import pandas as pd
import pickle

In [23]:
df = pd.read_csv("small.csv")
df

       Unnamed: 0                                      text_combined  label
0               0  marcus reyes tomabigailfergusonmideastweborg t...      1
1               1  risks list owner jirqdcslsricom riskslist risk...      0
2               2  triphammer456yahoocom dear debbiee legal servi...      1
3               3  jlapacheorg author jm date wed oct 24 025529 2...      0
4               4  arie skliarouk hkkhgdsggmailcom hi set squirre...      0
...           ...                                                ...    ...
49995       49995  desiree parsons fhcazzanigasrainstrumentscom d...      1
49996       49996  summer internship jinbaek answer lst question ...      0
49997       49997  cheap oem software shipping worldwide rhombus ...      1
49998       49998  cnn alerts uwen2002mayerhomescom cnn alerts cu...      1
49999       49999  inexpensive online prescripiton complacent inj...      1

[50000 rows x 3 columns]

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['text_combined'], df['label'], test_size=0.2, random_state=322)

In [25]:
tfidf = TfidfVectorizer(max_features = 2000)
X_train_tfidf = tfidf.fit_transform(X_train).toarray()
X_test_tfidf = tfidf.transform(X_test).toarray()

In [26]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train_tfidf, y_train)
predictions = model.predict(X_test_tfidf)

In [27]:
from sklearn.metrics import (accuracy_score, precision_score, recall_score, f1_score,
                             roc_auc_score, confusion_matrix, ConfusionMatrixDisplay)
accuracy = accuracy_score(y_test, predictions)
precision = precision_score(y_test, predictions, average='binary')
recall = recall_score(y_test, predictions, average='binary')
f1 = f1_score(y_test, predictions, average='binary')
print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1 score: {f1}")

Accuracy: 0.9437
Precision: 0.9519061583577713
Recall: 0.9388738912456613
F1 score: 0.9453451121250364

In [28]:
conf_matrix = confusion_matrix(y_test, predictions)
conf_matrix

array([[4568,  246],
       [ 317, 4869]])

In [29]:
with open('naive_bayes_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [30]:
with open('vectorizer.pkl', 'wb') as f:
    pickle.dump(tfidf, f)